<!DOCTYPE html>

<html>
<head>
	<title><%= title %></title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Boris Yue">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span> 
	      </button>
	      <a class="navbar-brand" href="#">Snappit</a>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      <ul class="nav navbar-nav">
	        <li><a href="/">Home</a></li>
	        <li><a href="/search">Search</a></li>
	        <li><a href="/saved">Saved Links</a></li> 
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
	        <li class="active"><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>

	<% include partials/flash %>	

	<div>
		<div class="container">
		    <div class="col-md-4 " style="height: 280px;margin: 150px auto;background-color: white;float:none;padding:10px;box-shadow: 1px 2px 2px black">
		    	<div class="box">
		    		<form class="form-signin" action="/login" method="post">
			            <h2 class="form-signin-heading text-center" style="font-family: chalk;">Log In</h2>
			            <div class="form-group">
			<!--                     label for screen readers-->                
			                <label for="username" class="sr-only">Username</label>
			                <input type="text" name="username" id="username" class="form-control" placeholder="Username" required autofocus>
			            </div>

			            <div class="form-group">
			                <label for="password" class="sr-only">Password</label>
			                <input type="password" name="password" id="password" class="form-control" placeholder="Password">
			            </div>

			            <div class="form-group">
			                <button class="btn btn-lg btn-primary btn-block">Login</button>
			            </div>
			        </form>
			        <div class="row">
			            <div class="center-block text-center">
			                <a href="/oauth/facebook">Login with Facebook</a> |
			                <a href="/oauth/twitter">Login with Twitter</a>
			            </div>
			        </div>
		    	</div>
		       
		    </div>
		</div>
	</div>
	<% include partials/scripts %>	

</body>
</html>