<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Boris Yue">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">

</head>
<body>
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span> 
	      </button>
	      <a class="navbar-brand" href="#">Snappit</a>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      <ul class="nav navbar-nav">
	        <li><a href="/">Home</a></li>
	        <li class="active"><a href="/search">Search</a></li>
	        <li><a href="/saved">Saved Links</a></li> 
	        <li><a href="/about">About</a></li> 
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	      	<% if(!currentUser) { %>
				<li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
	        	<li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
	      	<% } else { %>
	      		<li><a href="#">Hello, <%= currentUser.name ? currentUser.name : currentUser.username %></a></li>
	        	<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
	      	<% } %>
	      </ul>
	    </div>
	  </div>
	</nav>

	<% include partials/flash %>	

	<div id="paper-background">
		<div class="container">
			<div class="row upload-row">
				<div class="col upload-pic">
					<input type="file" id="bannerImg" style="font-family: chalk;">
				</div>
				<div class="col submit">
					<button class="btn btn-primary" type="submit" onclick="imageToText()">Search for solutions</button>
				</div>
			</div>
			<div class="row">
				<div class="col-md-7 uploaded-pic">
					<img src="" id="tableBanner">
				</div>
			</div>

			<div id="loading" class="row" >
				<div id="analyze-caption" class="col">
					<span>Analyzing and searching...</span>
				</div>
				<div id="spin-icon" class="col">
				</div>
			</div>
			<h1>Results</h1>
			<ol id="searches"></ol>
		</div>
<!-- 		popup save
 -->		
 		<div id="save-form" class="modal">
		  <form action="/saved" method="POST" class="form-signin modal-content animate">
		      <span onclick="document.getElementById('save-form').style.display='none'" class="close" title="Close Modal">&times;</span>
		    	<div class="form-group" style="margin:15px auto 15px auto;width: 50%;">
		    		<input class="form-control" type="text" placeholder="Name" name="info[name]" required autofocus>
		    	</div>
		    	<div class="form-group" style="margin: auto auto 15px auto;width: 50%;">
		    		<input class="form-control" id="link-field" type="text" placeholder="Link" name="info[link]" required>
		    	</div>
		    	<div class="form-group" style="text-align:center;">
		    		<button class='btn btn-lg btn-primary' type="submit">Save Link</button>
		    	</div>
		  </form>
		</div>
	</div>

	<% include partials/scripts %>	


</body>
</html>